.sub-menu{
	display: none;
}

 .dot span{
    text-decoration: none; /* Убираем подчеркивание */
    color: #069;
    border-bottom: 1px dashed #069; /* Добавляем свою линию */ 
    cursor: pointer;
    // display: inline;
   }
.dot:hover {
    border-bottom-color: transparent;
}
.winners_block{
	width: 620px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0;
}

.table_winners{
	width: 380px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
}

// .table_winners td{
// 	font-family: Arial;
//     font-size: 16px;
//     padding-top: 15px;
//     padding-bottom: 15px;
//     text-align: center;
//     // border-bottom: 1px solid #CEC9C7;
// }
.table_winners div:not(:last-child){
	border-bottom: 1px solid #CEC9C7;
}

	.table_winners span{
		padding: 15px 0;
        display: inline-block;
	}
	.table_winners span:last-child{
		float: right;
	}


.winners{
	
	.form__label{
		text-align: center;
	}
}

.single_winner{
  height: 165px;
  display: table !important;
  width: 100%;
  
  span{
    display: table-cell !important;
    vertical-align: middle;
  }
  span:last-child{
    text-align: right;
    float: none !important;
  }
}


/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 995px) {


}

@media only screen and (max-width: 768px) {

   	.table_winners span {
	    // display: block;
	    width: 50%;
	}

	.table_winners .list1{
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	// .table_winners div:not(:last-child){
	// 	border-bottom: none;
	// }
}



@media only screen and (max-width: 667px) {
   .table_winners {
	    width: 100%;
	    margin-left: auto;
	    margin-right: auto;
	    color: #000;
    
    }

    .winners_block {
	    width: 100%;
	    margin-left: auto;
	    margin-right: auto;
	    padding: 20px 0;
	    text-align: center;
    }

	.winners_block {
		
		.f_left,
		.f_right{
			float: none;
		}
	}
	.single_winner{
		height: auto;
	}


}

@media only screen and (max-width: 360px) {
	.table_winners{
		span{
			display: inline-block;
			width: 100%;
		}

		.single_winner{
		  display: block !important;
		  
		  span{
		    display: block!important;
		    
		    &:last-child{text-align: center;}
		  }
		}

	}
}