$font-size: 14px;
$height: 24px;
$padding: 0 20px;
$border-radius: 5px;

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: lightseagreen;
  box-shadow: none;
  border: none;
  display: inline-block;
  font-size: $font-size;
  line-height: $height;
  height: $height;
  padding: $padding;
  font-family: inherit;
  color: #ffffff;
  border-radius: $border-radius;
  opacity: .9;
  cursor: pointer;
  text-align: center;
  outline: none;

  &:hover {
    opacity: 1;
  }

  &--default,
  &[disabled] {
    cursor: default;
    opacity: .4;
  }
}

a {
  outline:none;
  text-decoration:underline;
  cursor:pointer;
}
a:hover{
  text-decoration:none;
}

.btn{
  display:inline-block;
  padding:0 0 0;
  margin: 0 0 0;
 }
.btn:hover{
  color:#000;
}

.btn1{
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  width: 207px;
  display: block;
  padding: 12px 10px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  font-family: 'Pribambas', sans-serif;
}
.btn2{
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  width: 228px;
  display: block;
  padding: 5px 5px 6px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  font-family: 'Pribambas', sans-serif;
}
.btn1,
.btn2{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn1:hover,
.btn2:hover{
  opacity: 0.7;
}

