[data-color="black"]{color: #000;}
[data-color="white"]{color: #fff;}
[data-color="fiolet"]{color: #542888;}
[data-color="aqua"]{color: #00bac1;}
[data-color="red"]{color: #ee312b;}
[data-color="yellow"]{color: #fbb342;}
[data-color="blue"]{color: #542888;}
[data-color="grey"]{color: #5D5D5D;}

[data-skin="aqua"]{background-color: #00BAC1;}
[data-skin="yellow"]{background-color: #FBB342;}

[data-bg="fiolet_big"]{
  min-height: 455px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../images/fiolet_big_bg.png) 50% 50% no-repeat;
  -webkit-background-size: 100%;
       -o-background-size: 100%;
          background-size: 100%;
}
[data-bg="fiolet_price"]{
  padding: 0px 10px 3px;
  background: url(../images/price_bg.png) 0 0 no-repeat;
}
[data-bg^="title_bg_"]{
  display: inline-block;
  padding: 28px 52px 30px;
}
[data-bg="title_bg_fiolet"]{
  background: url(../images/bg_fiolet.png) 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
}
[data-bg="title_bg_aqua"]{
  background: url(../images/bg_aqua.png) 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
}
[data-bg="title_bg_red"]{
  background: url(../images/bg_red.png) 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
}
[data-bg="title_bg_yellow"]{
  background: url(../images/bg_yellow.png) 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
}

[data-bg^="hr_"]{
  border: none;
  height: 6px;
  width: 100%;
}
[data-bg="hr_aqua"]{
  background: url(../images/hr_bg2.png) 50% 0 no-repeat;
}
[data-bg="hr_fiolet"]{
  background: url(../images/hr_bg1.png) 50% 0 no-repeat;
}

[data-hr="vertical"]{
  position: relative;
}
  [data-hr="vertical"]::before{
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 5px;
    height: 100%;
    background: url(../images/hr_vertical.png) 0 0 no-repeat;
    background-size: 100% 100%;
  }
  [data-hr="vertical"]::after{
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
    width: 5px;
    height: 100%;
    background: url(../images/hr_vertical.png) 0 0 no-repeat;
    background-size: 100% 100%;
  }


/*--------  COLOR_BG responsive  -------*/
@media only screen and (max-width: 995px) {
    [data-bg="fiolet_big"]{
      -webkit-background-size: 100% 100%;
           -o-background-size: 100% 100%;
              background-size: 100% 100%;
    }

    [data-hr="vertical"]::after,
    [data-hr="vertical"]::before{
      display: none;
    }
  }

  @media only screen and (max-width: 768px) {
    [data-bg="fiolet_big"]{
      background: url(../images/fiolet_big_bg2.png) 50% 50% no-repeat;
      -webkit-background-size: 100% 100%;
           -o-background-size: 100% 100%;
              background-size: 100% 100%;
    }

    [data-bg^="title_bg_"]{
      padding: 28px 20px 30px;
    }

    [data-bg="hr_fiolet"]{
      -webkit-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
    }
  }

  @media only screen and (max-width: 360px) {
    [data-bg="fiolet_big"]{
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  