footer{
  margin-top: 50px;
  padding-bottom: 35px;
  font-family: Arial;
  background: url(../images/footer_bg.png) 50% 900% no-repeat;
  // -webkit-background-size: 100% auto;
  //      -o-background-size: 100% auto;
  //         background-size: 100% auto;
  
  -webkit-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
  .sca{
    margin-top: 95px;
    margin-bottom: 18px;
    text-align: center;
  }
  p{
    line-height: 1.4;
  }
}


/*--------  FOOTER responsive  -------*/
  @media only screen and (max-width: 1460px) {
    // footer{
    //   background: url(../images/footer_bg.png) 50% 100% no-repeat;
    //   -webkit-background-size: 100%;
    //        -o-background-size: 100%;
    //           background-size: 100%;
    // }

  }

  @media only screen and (max-width: 1024px) {
    // footer{
    //   background: url(../images/footer_bg.png) 50% 100% no-repeat;
    //   -webkit-background-size: 100% 70%;
    //        -o-background-size: 100% 70%;
    //           background-size: 100% 70%;
    // }
  }

  @media only screen and (max-width: 768px) {
    // footer{
    //   padding-bottom: 15px;
    //   -webkit-background-size: 100% 60%;
    //        -o-background-size: 100% 60%;
    //           background-size: 100% 60%;
    // }
  }

  @media only screen and (max-width: 667px) {
  //   footer{
  //     padding-bottom: 15px;
  //     -webkit-background-size: 100% 60%;
  //          -o-background-size: 100% 60%;
  //             background-size: 100% 60%;
  //   }
  }

  @media only screen and (max-width: 360px) {
    // footer{
    //   padding-bottom: 15px;
    //   -webkit-background-size: 100% 50%;
    //        -o-background-size: 100% 50%;
    //           background-size: 100% 50%;
    // }

    .social + div div{text-align: center;}
  }