$placehoderColor: #c1c1c1;

//form__row
$form__row-Margin: 0 0 25px 0;

//form__label
$form__label-Color: #000;
$form__label-FontSize: 16px;
$form__label-LineHeight: 28px; //рекомендуется установить высоту чекбокса
$form__label-FontWeight: normal;
// $form__label-Margin: 0 0 0 0;

//form__input
$form__input-Color: #000;
$form__input-FontSize: 16px;
$form__input-Background: #fff;
$form__input-Height: 47px; //высота без бордеров
$form__input-Border: 1px solid #898989;
$form__input-Padding: 0 12px;
$form__input-BoxShadow: inset 0px 3px 2px #d5d5d5;
$form__input-BorderRadius: 10px;
$form__input-TextAlign: left;

//form__textarea
$form__textarea-FontSize: $form__input-FontSize;
$form__textarea-LineHeight: $form__textarea-FontSize + 2px;
$form__textarea-Background: $form__input-Background;
$form__textarea-Height: $form__input-Height * 4;
$form__textarea-Border: $form__input-Border;
$form__textarea-Padding: 10px;
$form__textarea-BoxShadow: $form__input-BoxShadow;
$form__textarea-BorderRadius: $form__input-BorderRadius;
$form__textarea-TextAlign: $form__input-TextAlign;

//form__checkbox
$form__checkbox-Width: 30px;
$form__checkbox-Height: $form__checkbox-Width;
$form__checkbox-Margin: 0 10px 0 10px;
$form__checkbox-BoxShadow: none;
$form__checkbox-Background: url(../images/checkbox.png) 89% -5px;;
// $form__checkbox-Border: 1px solid #000;
$form__checkbox-CheckedBackground: url(../images/checkbox.png) -5px -5px;
// $form__checkbox-CheckedBorder: $form__checkbox-Border;

//form__radio
$form__radio-Width: $form__checkbox-Width;
$form__radio-Height: $form__radio-Width;
$form__radio-Margin: 0 0 0 10px;
$form__radio-BoxShadow: $form__checkbox-BoxShadow;
$form__radio-BorderRadius: $form__radio-Width / 2;
$form__radio-Background: url(../images/radio.png) -1px -5px no-repeat;
$form__radio-Border: none;
// $form__radio-CheckedBackground: url(../images/radio_checked.png) 0 0 no-repeat;
$form__radio-CheckedBorder: none;

//form__select
$form__select-Color: #000;
$form__select-Height: $form__input-Height + 2px;
$form__select-Padding: 0 15px 0 10px;
$form__select-FontSize: $form__input-FontSize;
$form__select-LineHeight: $form__input-Height;
$form__select-Background: $form__input-Background;
$form__select-Border: $form__input-Border;

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
	color: $placehoderColor;
}

.form {
	margin: 20px 0 0;

	&__label {
		display: block;
		color: $form__label-Color;
		vertical-align: middle;
		font-size: $form__label-FontSize;
		line-height: $form__label-LineHeight;
		font-weight: $form__label-FontWeight;
		// margin: $form__label-Margin;
		font-family: Arial;
	}

	&__row {
		margin: $form__row-Margin;
		position: relative;
	}

	&__input {
		background: $form__input-Background;
		height: $form__input-Height;
		position: relative;
		border: $form__input-Border;
		box-shadow: $form__input-BoxShadow;
		border-radius: $form__input-BorderRadius;

		input {
			font-family: Arial;
			color: $form__input-Color;
			font-size: $form__input-FontSize;
			line-height: $form__input-Height;
			// text-align: $form__input-TextAlign;
			z-index: 2;
			display: block;
			width: 100%;
			height: inherit;
			padding: $form__input-Padding;
			outline: none;
			background: none;
			box-sizing: border-box;
			border: none;
		}
		
		
	}
		&__input.datepicker{
			background: #FFF url(../images/calendar.png) 95% 50% no-repeat;
		}
	&__input_type2{
		background-color: transparent;
	}

	&__textarea {
		background: $form__textarea-Background;
		height: $form__textarea-Height;
		position: relative;
		border: $form__textarea-Border;
		box-shadow: $form__textarea-BoxShadow;
		border-radius: $form__textarea-BorderRadius;

		textarea {
			font-family: Arial;
			color: inherit;
			font-size: $form__textarea-FontSize;
			line-height: $form__textarea-LineHeight;
			text-align: $form__textarea-TextAlign;
			z-index: 2;
			display: block;
			width: 100%;
			height: inherit;
			padding: $form__textarea-Padding;
			outline: none;
			background: none;
			box-sizing: border-box;
			border: none;
			resize: none;
		}
	}

	&__checkbox {
		display: inline-block;
		vertical-align: middle;
		margin: $form__checkbox-Margin;

		&:first-child {
			margin-left: 0;
		}

		input {
			box-shadow: $form__checkbox-BoxShadow;
			width: $form__checkbox-Width;
			height: $form__checkbox-Height;
			// border: $form__checkbox-Border;
			display: inline-block;
			background: $form__checkbox-Background;
			vertical-align: middle;
			-webkit-appearance: none;
			margin: 0;
			outline: none;

			&:checked {
				background: $form__checkbox-CheckedBackground;
				// border: $form__checkbox-CheckedBorder;
			}
		}
	}

	&__radio {
		display: inline-block;
		margin: $form__radio-Margin;

		&:first-child {
			margin-left: 0;
		}

		input {
			box-shadow: $form__radio-BoxShadow;
			width: $form__radio-Width;
			height: $form__radio-Height;
			border: $form__radio-Border;
			display: inline-block;
			background: $form__radio-Background;
			vertical-align: middle;
			-webkit-appearance: none;
			margin: 0;
			outline: none;
			border-radius: $form__radio-BorderRadius;

			&:checked {
				background-position: 91% -5px; 
				border: $form__radio-CheckedBorder;
			}
		}
	}


	&__select {
		position: relative;

		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 13px;
			height: 9px;
			right: 12px;
			top: 50%;
			margin: -4px 0 0;
			background: url(../images/arrow_down.png) 0 0 no-repeat;
			// border-left: 4px solid transparent;
			// border-right: 4px solid transparent;
			// border-top: 6px solid #000;
		}

		select {
			font-family: Arial;
			color: $form__select-Color;
			position: relative;
			font-size: $form__select-FontSize;
			line-height: $form__select-LineHeight;
			height: $form__select-Height;
			outline: none;
			display: block;
			width: 100%;
			background: $form__select-Background;
			border: $form__select-Border;
			padding: $form__select-Padding;
			box-sizing: border-box;
			border-radius: $form__input-BorderRadius;

			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			
			option[disabled]{
				color: #7F7F7F;
			}
		}
	}

	.addfile {
		display: block;
		overflow: hidden;
		box-sizing: border-box;
		height: 56px;
		line-height: 56px;
		font-size: 24px;
		text-align: center;
		background: #000;
		color: #ffffff;
		padding: 0;
		border-radius: 20px;
		// background: url("../images/ico_folder_sprite.png") no-repeat 0 0;
		font-family: Arial;
		font-weight: normal;

		img {
			display: none !important;
		}

		&--added {
			background-position: 0 -30px;

			.addfile__title {
				display: none;
			}
			input {
				display: none;
			}
			.addfile__name {
				display: block;
			}
		}

		&__clear {
			display: inline-block;
			//background: url("../images/ico-close.png")no-repeat 0 0;
			width: 10px;
			height: 10px;
			margin: 0 0 0 10px;
			vertical-align: middle;
		}

		&__title {
			cursor: pointer;

		}
		&__name {

		}

		input {
			cursor: pointer;
			margin-top: -40px;
			margin-right: -10px;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
			font-size: 40px;
			height: 50px;
			float: right;
		}
	}

	&__elem {
		&--str {
			display: inline-block;
			.form__label {
				display: inline-block;
			}
		}
	}

	&__alert {
		background: rgba(255, 0, 0, .1);
		border-radius: 10px;
		padding: 20px;
		color: #999;
	}

	&__error {
		color: #ff0000;
		font-size: 12px;
		line-height: 14px;
		display: none;
	}

	&__control {
		&--error {
			.form__error {
				display: block;
			}

			.form__input {
				border-color: #f00;
			}

			.form__textarea {
				border-color: #f00;
			}

			.form__select select {
				border-color: #f00;
			}

			.form__select:after {
				border-top-color: #f00;
			}
		}
	}
}


@charset "windows-1251";

.file__elem{
	opacity: 1;
	position: relative;
	
	div{
		width: 134px;
		float: right;
		overflow: hidden;
		margin-top: -29px;
		
		input{
			padding: 7px 0;
			z-index: 50;
			position: relative;
			opacity: 0;
			cursor: pointer;
		}
	}
	
	&__text{
		position: absolute;
		z-index: 10;
		top: 0;
		right: 0;
		font-size: 16px;
		color: #FFF;
		line-height: 1.5;
		padding: 5px 20px;
		background-color: #FBB342;
		-webkit-border-radius: 50px;
		        border-radius: 50px;
	}
}

.file_box{
	height: 320px;
	-webkit-border-radius: 15px;
	        border-radius: 15px;
	background: #cccccc url(../images/photo.png) 50% 50% no-repeat;
	

	.form__elem div{
		overflow: hidden;
		
		input{
			padding: 7px 0;
			z-index: 50;
			position: relative;
			opacity: 0;
			cursor: pointer;
			margin-top: 220px;
			text-align: center !important;
			width: 100%;
			outline: none;
			
		}
	}
	
	&__text{
		position: absolute;
		z-index: 10;
		top: 70%;
		right: 0;
		left: 0;
		color: #4C2197;
		text-decoration: underline;
		font-size: 16px;
		line-height: 1.5;
		font-family: Arial;
		text-align: center;
	}

}
.js-modal--feedback .checks__file-text1{
	text-overflow: ellipsis;
    white-space: nowrap;
    width: 116px;
    overflow: hidden;
    padding: 5px 12px;
}


	.ui-widget-header{
		color: #FFF;
		background: #00bac1;
	}
	.ui-state-highlight, 
	.ui-widget-content .ui-state-highlight, 
	.ui-widget-header .ui-state-highlight{
		background: #fbb342;
		color: #FFF;
	}