.grid{
  &s {
    &:after {
      content: '';
      display: block;
      clear: both;
      float: none;
    }
  }

  float: left;
  min-width: 1px;
  min-height: 1px;

  &--right {
    float: right;
  }

  //процентная сетка
  @for $i from 1 through 20 {
    &--#{$i*3}p {
      width: $i*3%;
    }
  }
}