header {
    background-color: #fff;
  }
    .logo{
      padding-top: 19px;
      float: left;
    }
      .logo a{
        display:block;
        width:200px;
        height:85px;
        background:url(../images/logo.png) 0 0 no-repeat;
        text-decoration:none;
        text-indent:-9999px;
      }

    nav{
      float: right;
      padding: 25px 0 22px;
    }
      .menu{
        text-align: center;
      }
        .menu_item{
          display: inline-block;
          font-size: 24px;
          margin: 2px 8px 0;
          padding: 10px 5px;
          -webkit-border-radius: 10px;
                  border-radius: 10px;
          
          &:last-child.current{
            // width: 79px;
            
            span{
              max-width: 73px;
              display: inline-block;
              white-space: nowrap;
              -ms-text-overflow: ellipsis;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
        .menu_item.current{
          position: relative;
          z-index: 10;
          background-color: #069;
        }
          .menu_item.current::before{
            content: "";
            width: 18px;
            height: 53px;
            position: absolute;
            left: -12px;
            top: -6px;
            background: url(../images/menu_bg4.png) 0 0 no-repeat;
          }
          .menu_item.current::after{
            content: "";
            width: 18px;
            height: 53px;
            position: absolute;
            right: -13px;
            top: -6px;
            background: url(../images/menu_bg2.png) 0 0 no-repeat;
          }


          .menu_link{
            padding: 2px 0px 3px;
            color: #069;
            text-decoration: none;
          }
          .menu_item.current .menu_link{
            color: #FFF;
            position: relative;
          }
            .menu_item.current .menu_link::before{
              content: "";
              width: 100%;
              height: 16px;
              position: absolute;
              left: 0;
              right: 0;
              top: -10px;
              background: url(../images/menu_bg1.png) 0 0 no-repeat;
              -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
            }
            .menu_item.current .menu_link::after{
              content: "";
              width: 100%;
              height: 16px;
              position: absolute;
              left: 0;
              right: 0;
              bottom: -13px;
              background: url(../images/menu_bg3.png) 0 0 no-repeat;
              -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
            }

    .menu_btn{display: none;}
    .nav_title{
      display: none;
      position: absolute;
      left: 50%;
      margin-left: -35px;
      top: 45%;
    }
    .menu_close{display: none;}

    .nav_overlay{
      

      .nav_title{
        display: inline-block;
        text-align: center;
      }

      .menu_close{
        width: 31px;
        height: 33px;
        display: block;
        background: url(../images/menu_close.png) 0 0 no-repeat;
      }
    }



/*--------  HEADER responsive  -------*/

  @media only screen and (max-width: 995px) {
    .logo a{
      width: 160px;
      height: 75px;
    }
    nav{
      padding: 25px 0 14px;
      
      .menu_item{
        font-size: 18px;
        margin: 2px 3px 0;
      }

      .menu_item.current .menu_link::before{top: -12px;}
      .menu_item.current .menu_link::after{bottom: -16px;}
    }


      
  }

  @media only screen and (max-width: 768px) {
    .logo a{height: 58px;}
    header{
      z-index: 10;
      position: fixed;
      left: 0;
      right: 0;
      .container{width: 100%;}
    }
    .menu_btn{
      float: right;
      margin-top: 35px;
      width: 39px;
      height: 27px;
      display: block;
      background: url(../images/menu_btn.png) 0 0 no-repeat;
    }
    
    nav{
      .menu{
        display: block;
        width: 330px;
        position: fixed;
        right: -330px;
        top: 93px;
        bottom: 0;
        height: 100%;
        background-color: #FFF;
        z-index: 20;
        
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        
        &_item{
          display: inline-block;
          width: 100%;
          float: none;
          text-align: center;
          font-size: 40px;
          margin-bottom: 15px;
          line-height: 1;
          margin: 0;
        }
        &_item.current{
          background-color: #FFF;
          
          .menu_link{
            color: #069; 
          }
        }
          &_item.current::before{
            display: none;
          }
          &_item.current::after{
            display: none;
          }
            &_item.current .menu_link::before{
              display: none;
            }
            &_item.current .menu_link::after{
              display: none;
            }
        
      }
    }

    .nav_overlay{
      .menu{
        left: 0;
        width: 100%;
        right: 0;
        
        &::before{
          content: "";
          height: 1px;
          position: absolute;
          top: 0;
          background-color: #D0D0D0;
          left: 20px;
          right: 25px;
          z-index: 25;
        }
        
        &_btn{display: none;}
      }
    }

  }

  @media only screen and (max-width: 550px) {
    .nav_title{
      left: 68%;
    }
  }