//fog variables
$fogBackground: #000;
$fogOpacity: .6;

//modal variables
$modalWidth: 620px;
$modalBackground: #fff;
$modalBorder: none;
$modalBorderRadius: 15px;
$modalBoxShadow: none;
$modalPadding: 25px 70px;

$modalTextAlign: left;
$modalFontSize: 16px;
$modalLineHeight: 22px;

//modal close button
$modalCloseWidth: 24px;
$modalCloseHeight: 24px;
$modalCloseTop: 20px;
$modalCloseRight: 20px;
$modalCloseBackground: url(../images/close2.png) 50% 50% no-repeat;

//modal title
$modalTitleFontSize: 20px;
$modalTitleLineHeight: 22px;
$modalTitleFontWeight: normal;
$modalTitleTextAlign: center;
$modalTitleFontColor: #4c2197;

//modal header
$modalHeaderPadding: 0;
$modalHeaderBorderBottom: none;

//modal content
$modalContentPadding: 0;

//modal footer
$modalFooterPadding: 0;
$modalFooterBorderTop: none;
$modalFooterMargin: 0;

.body-modal {
	overflow: hidden;
}

.modal {
	&s {
		&__fog {
			position: absolute;
			display: none;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: $fogBackground;
			opacity: $fogOpacity;
			z-index: 1000;
		}
	}

	color: #000;
	overflow: auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	z-index: 1001;
	text-align: center;
	vertical-align: middle;
	bottom: 0;
	display: none;
	font-size: $modalFontSize;
	line-height: $modalLineHeight;
	background-color: rgba(0, 0, 0, .5);

	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		width: 1px;
		vertical-align: middle;
	}

	&__body {
		max-width: 96%;
		position: relative;
		z-index: 1;
		padding: $modalPadding;
		width: $modalWidth;
		box-sizing: border-box;
		display: inline-block;
		background: $modalBackground;
		text-align: $modalTextAlign;
		border: $modalBorder;
		vertical-align: middle;
		border-radius: $modalBorderRadius;
		box-shadow: $modalBoxShadow;
	}

	&__header {
		padding: $modalHeaderPadding;
		border-bottom: $modalHeaderBorderBottom;
	}

	&__content {
		padding: $modalContentPadding;
	}

	&__footer {
		padding: $modalFooterPadding;
		border-top: $modalFooterBorderTop;
		margin: $modalFooterMargin;
	}

	&__close {
		position: absolute;
		z-index: 1;
		right: $modalCloseRight;
		top: $modalCloseTop;
		background: $modalCloseBackground;
		width: $modalCloseWidth;
		height: $modalCloseHeight;
	}

	&__title {
		font-family: inherit;
		font-size: $modalTitleFontSize;
		line-height: $modalTitleLineHeight;
		text-align: $modalTitleTextAlign;
		font-weight: $modalTitleFontWeight;
		color: $modalTitleFontColor;
		text-transform: uppercase;
	}
}



/*------------  STYLES  ----------*/
	.js-modal--registration{
		

		.grid--24p{
			margin-right: 20px;
		}
		
	}



		.modal__body{
			background: url(../images/mod_bg1.png) 0 0 no-repeat;
			-webkit-background-size: 100% 100%;
			     -o-background-size: 100% 100%;
			        background-size: 100% 100%;
		}

	.modal__content{

		.social{
			border-bottom: 1px solid #D0D0D0;
		}
		
		.social__item{
			width: 68px;
			height: 68px;
			margin: 0 10px;
		}

		.social__item--fb{
			background: url(../images/fb2.png) 0 0 no-repeat;
		}
		.social__item--vk{
			background: url(../images/vk2.png) 0 0 no-repeat;
		}
		.social__item--ok{
			background: url(../images/ok2.png) 0 0 no-repeat;
		}

		.form__textarea{
			min-height: 210px;
			resize: none;
		}
	}

	.mod_hr{
		width: 100%;
		border: none;
		height: 1px;
		width: 100%;
		background-color: #D0D0D0;
	}

	.js-modal--password,
	.js-modal--feedback,
	.js-modal--auth{
		
		.modal__body{
			width: 460px;
		}
	}

	.js-modal--check_registry{
		.modal__body{
			width: 780px;
		}
		
	}

.ui-widget-content{
	z-index: 9999 !important;
}


/*--------  MODALS responsive  -------*/
	@media only screen and (max-width: 550px) {
	    .grid--48p{
	    	width: 100%;
	    	float: none;
	    }
	    .modal__body{padding: 25px 20px;}
	}
	@media only screen and (max-width: 360px){
		.form .img_box img{
			max-width: 100%;
		}
	}