.social {
  text-align: center;
  font-size: 0;
  line-height: 0;
  margin: 15px 0 0;
  padding-bottom: 35px;

  &__item {
    display: inline-block;
    margin: 0 2px;
    font-size: 14px;
    line-height: 30px;

    width: 30px;
    height: 30px;

    border-radius: 3px;
    // border: 1px solid #000;
    text-decoration: none;
    opacity: .9;

    &:hover {
      opacity: 1;
    }
  }

  &__item--vk{
    background: url(../images/vk.png) 0 0 no-repeat;
  }
  &__item--fb{
    background: url(../images/fb.png) 0 0 no-repeat;
  }
  &__item--yt{
    background: url(../images/yt.png) 0 0 no-repeat;
  }
}