.table{
  width: 620px;
  margin-left: auto;
  margin-right: auto;
    color: #000;
  
  th{
    font-size: 18px;
    color: #000;
    padding-bottom: 15px;
  }

  td{
    font-family: Arial;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid #CEC9C7;
  }
  tr:last-child td{
    border-bottom: none;
  }
}


/*--------  TABLE responsive  -------*/

  @media only screen and (max-width: 667px) {
    .table{
      width: 100%;
    }
  }
  @media only screen and (max-width: 768px)  {
    .table tr:first-child th{
      display: none;
    }
    .table tr:not(:last-child){
      border-bottom: 1px solid #CEC9C7;
    }
      .table td{
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: none;
      }

  }

