/*=====================> Titles ========================*/
  h2,h3,h4{
    font-weight:normal;
  }
  .title1{
    font-size: 55px;
    line-height: 1;
  }

  .title2{
    font-size: 30px;
    line-height: 1;
  }

  .title3{
    font-size: 24px;
    line-height: 1.3;
  }

  .title4{
    font-size: 16px;
    line-height: 1.2;
  }

  .title5{
    font-size: 18px;
    line-height: 1.2;
  }

  .nav_title{
    font-size: 34px;
    color: #069;
  }

  .fz36{font-size: 36px;}
  .fz14{font-size: 14px;}
  .price{
    line-height: 1.5;
  }
    .price span{line-height: 1;}

  .arial{font-family: Arial, sans-serif !important;}

/*--------  TITLES responsive  -------*/

  @media only screen and (max-width: 550px) {
    .title1{font-size: 35px;}
    .title2{font-size: 27px;}
    .title3{font-size: 20px;}
  }

    

