/*--------------- START: Home  --------------*/

.steps{
  margin-bottom: 40px;
  display: inline-block;
  width: 100%;

  [class^="step_"]{
    width: 30%;
    float: left;
    margin: 0 15px;
    text-align: center;
    position: relative;

    figcaption{
      text-align: center;
    }
  }

  .step_1{
    padding-top: 20px;
  }
    .step_1::before{
      content: "1";
      color: #FFF;
      font-size: 90px;
      line-height: 100px;
      text-align: center;
      width: 109px;
      height: 111px;
      position: absolute;
      right: -35px;
      top: -30px;
      background: url(../images/counter_bg.png) 0 0 no-repeat;
    }
    .step_1::after{
      content: "";
      position: absolute;
      width: 21px;
      height: 12px;
      right: -80px;
      top: 20px;
      background: url(../images/arrow_right.png) 0 0 no-repeat;
    }

  .step_2{
    padding-top: 117px;
  }
    .step_2::before{
      content: "2";
      color: #FFF;
      padding: 0 5px;
      font-size: 90px;
      line-height: 100px;
      text-align: center;
      width: 109px;
      height: 111px;
      position: absolute;
      left: 50%;
      margin-left: -55px;
      top: -30px;
      background: url(../images/counter_bg.png) 0 0 no-repeat;
    }
    .step_2::after{
      content: "";
      position: absolute;
      width: 21px;
      height: 12px;
      right: 40px;
      top: 20px;
      background: url(../images/arrow_right.png) 0 0 no-repeat;
    }

  .step_3{
    
  }
    .step_3::before{
      content: "3";
      color: #FFF;
      padding: 0 5px;
      font-size: 90px;
      line-height: 100px;
      text-align: center;
      width: 109px;
      height: 111px;
      position: absolute;
      left: -50px;
      // margin-left: -55px;
      top: -30px;
      background: url(../images/counter_bg.png) 0 0 no-repeat;
    }

  
}

.step_4{
    
    .img_box{
      width: 140px;
      float: left;
      margin-left: 40px;
    }
    figcaption{
      float: left;
      width: calc(100% - 180px);
    }
  }


.last_step{
  padding-left: 70px;
  padding-right: 70px;
}
.last_step_prize{
  width: 32%;
  float: left;
  text-align: center;
}
  .last_step_prize:nth-child(2){
    width: 40%;
  }
    .last_step_prize:nth-child(2) h3{
      margin-top: -35px;
      transform: translateX(20px);
    }
  .last_step_prize:last-child{
    width: 28%;
  }

/*--------------- END: Home  --------------*/


/*--------  HOME responsive  -------*/
  @media only screen and (max-width: 995px) {
    .steps [class^="step_"]{
      width: 29%;
    }
  }

  @media only screen and (max-width: 768px) {
    .steps [class^="step_"]{
      width: 100%;
      float: none;
      margin: 0 0 30px;
      figcaption br{display: none;}
    }

    .steps{
      
      .step_1{
        padding-top: 80px;

        &::before{
          right: 50%;
          margin-right: -50px;
        }
        &::after{display: none;}
      }

      .step_2{
        padding-top: 130px;
        
        &::before{
          top: 0;
        }
        &::after{display: none;}
        
      }

      .step_3{
        padding-top: 150px;
        
        &::before{
          top: 20px;
          left: 50%;
          margin-left: -50px;
        }
      }
    }

    .last_step_prize{
      width: 100% !important;
      float: none;
      margin-bottom: 30px;
    }


  }

  @media only screen and (max-width: 667px){
    .step_4{
      
      .img_box{
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
      figcaption{
        float: none;
        width: 100%;
        text-align: center;
      }
    }
  }

  @media only screen and (max-width: 550px) {
    .last_step{
      padding-left: 20px;
      padding-right: 20px;
    }
  }