/*--------------- START: Prizes  --------------*/
  .product{
    // display: table;
    [data-bg^="title_bg_"]{
      padding: 13px 21px 18px;
    }  
    // .col-lg-3,
    // .col-lg-6{display: table-cell;}
  
    &__box{
      text-align: center;
      margin-bottom: 35px;
      
      .title3{line-height: 1;}
      
      .img_box{
        margin-bottom: 15px;
      }

      figcaption{
        
      }
    }
  }

/*--------------- END: Prizes  --------------*/

/*--------  PRIZES responsive  -------*/

  @media only screen and (max-width: 767px)  {
    
  }
